{
  "name": "<%= Appearance.current&.title.presence || _('GitLab') %>",
  "short_name": "<%= appearance_short_name %>",
  "description": "<%= Appearance.current&.description.presence || _("The complete DevOps platform. One application with endless possibilities. Organizations rely on GitLab’s source code management, CI/CD, security, and more to deliver software rapidly.") %>",
  "start_url": "<%= explore_projects_path %>",
  "scope": "<%= root_path %>",
  "display": "browser",
  "orientation": "any",
  "background_color": "#fff",
  "theme_color": "<%= user_theme_primary_color %>",
  "icons": [{
    "src": "<%= Gitlab::Utils.append_path(Gitlab.config.gitlab.relative_url_root, '/-/pwa-icons/logo-192.png') %>",
    "sizes": "192x192",
    "type": "image/png"
  },
  {
    "src": "<%= Gitlab::Utils.append_path(Gitlab.config.gitlab.relative_url_root, '/-/pwa-icons/logo-512.png') %>",
    "sizes": "512x512",
    "type": "image/png"
  },
  {
    "src": "<%= Gitlab::Utils.append_path(Gitlab.config.gitlab.relative_url_root, '/-/pwa-icons/maskable-logo.png') %>",
    "sizes": "512x512",
    "type": "image/png",
    "purpose": "maskable"
  }]
}
